<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.webServer>
    <handlers>
      <add name="Python FastCgi" 
      path="*" verb="*" 
      modules="FastCgiModule" 
      resourceType="Unspecified" 
      requireAccess="Script" />
    </handlers>
  </system.webServer>

<appSettings>
  <add key="PYTHONPATH" value="d:\test_api\nimbus\Lib\site-packages\wfastcgi.py"/>
  <!-- The handler here is specific to Bottle; see the next section. -->
  <add key="WSGI_HANDLER" 
  value="test_api.wsgi.application"/>
  <add key="DJANGO_SETTINGS_MODULE" 
  value="test_api.settings()"/>
</appSettings>
</configuration>